{{ define "main" }}
  <div class="content">
    <h2>{{ .Title }}</h2>
    {{ if .Description }}<p><strong>{{ .Description }}</strong></p>{{ end }}
    {{ if .Params.exhibition }}<p><em>Exhibition: {{ .Params.exhibition }}</em></p>{{ end }}
  </div>

  <div class="gallery pswp-gallery">
    {{ range .Resources.ByType "image" }}
      {{ $alt := .Title }}
      {{ if not $alt }}{{ $alt = .Name }}{{ end }}
      <div class="gallery-item">
        <a href="{{ .Permalink }}" target="_blank" rel="noreferrer">
          <img src="{{ .RelPermalink }}" alt="{{ $alt }}" />
          <div class="gallery-item-info">
            <div class="gallery-item-title">{{ $alt }}</div>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}
