{{ define "main" }}
  <div class="content">
    <h2>{{ .Title }}</h2>
    {{ if .Description }}<p><strong>{{ .Description }}</strong></p>{{ end }}
    {{ if .Params.exhibition }}<p><em>Exhibition: {{ .Params.exhibition }}</em></p>{{ end }}
    {{ .Content }}
  </div>

  <div class="gallery pswp-gallery">
    {{ range .Resources.ByType "image" }}
      {{ $alt := .Title }}
      {{ if not $alt }}{{ $alt = .Name }}{{ end }}
      <a href="{{ .Permalink }}" data-title="{{ $alt }}">
        <img src="{{ .RelPermalink }}" alt="{{ $alt }}" />
      </a>
    {{ end }}
  </div>
{{ end }}
