{{ $gallery := partial "get-gallery.html" . }}
{{ if $gallery }}
  <a class="card" href="{{ $gallery.page.RelPermalink }}" title="{{ $gallery.page.Title }}">
    <figure>
      <img src="{{ (index $gallery.images 0).RelPermalink }}" alt="{{ $gallery.page.Title }}" />
    </figure>
    <div>
      <h2>{{ $gallery.page.Title }}</h2>
      {{ if $gallery.albumCount }}
        <p>{{ $gallery.imageCount }} photos in {{ $gallery.albumCount }} albums</p>
      {{ else }}
        <p>{{ $gallery.imageCount }} photos</p>
      {{ end }}
    </div>
  </a>
{{ end }}
