{{ $gallery := "" }}
{{ $images :=  where (.Resources.ByType "image") "Params.hidden" "ne" true }}
{{ if gt (len $images) 0 }}
  {{ $cover := index $images 0 }}
  {{ $thumbnail := $cover }}
  {{ $color := "transparent" }}
  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = len $images }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $imageCount = add $imageCount (len (where (.Resources.ByType "image") "Params.hidden" "ne" true)) }}
    {{ end }}
  {{ end }}
  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}
